html {
  background: #edeff0;
}

.content {
  max-width: 1000px;
  margin: 35px auto 35px auto;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  padding-left: 1em;
  padding-right: 1em;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom: 32px;
}

.name {
  padding-left: 1.5em;
}

.colname:not(.no-sort) a {
  position: relative;
  display: inline-block;
}

.colname:not(.no-sort) a:after,
.colname:not(.no-sort) a:before {
  content: "";
  float: right;
  margin-top: 7px;
  border-color: #404040 transparent;
  border-style: solid;
  border-width: 0 4px 4px;
  visibility: visible;
  opacity: 0.4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.colname:not(.no-sort) a:after {
  position: relative;
  margin-top: 11px;
  right: -8px;
  transform: rotate(-180deg);
  margin-left: 5px;
}

.colname:not(.no-sort) a:before {
  margin-top: 5px;
}

.colname[aria-sort="ascending"]:not(.no-sort) a:before,
.colname[aria-sort="descending"]:not(.no-sort) a:after {
  opacity: 0.8;
}

.colname:not(.no-sort):not([aria-sort="descending"]) a:hover:before,
.colname:not(.no-sort):not([aria-sort]) a:hover:before {
  opacity: 1;
}

#table-list {
  overflow-x: auto;
  background: white;
  margin-top: 32px;
  margin-bottom: 32px;
  box-shadow: 0 0.55rem 1.25rem rgb(0 65 98 / 4%);
  -webkit-box-shadow: 0 0.55rem 1.25rem rgb(0 65 98 / 4%);
  box-shadow: 0 0.55rem 1.25rem rgb(0 65 98 / 4%);
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.88em;
  padding-left: 10px;
  padding-right: 10px;
}

tr:hover:not(:nth-child(1)) {
  background-color: rgb(220 220 220);
}

.t-header th {
  font-size: 1em;
  height: 1.8em;
}

th,
td {
  padding: 0.65em;
  text-align: left;
}

th:nth-child(1) {
  width: 18em;
}

th:nth-child(2) {
  width: 13em;
}

th:nth-child(3) {
  width: 6em;
  text-align: right;
}

th:nth-child(4) {
  width: 13em;
}

td:nth-child(1) {
  padding-left: 2em;
}

td:nth-child(2) {
  color: #666;
}

td:nth-child(3) {
  color: #666;
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #f8fafb;
  border-top: 1px solid #edeff0;
  border-bottom: 1px solid #edeff0;
}

a {
  color: #0047ab;
  text-decoration: none;
}

a:hover {
  color: #0096ff;
  text-decoration: underline;
}

td a {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

td a:visited {
  color: #5a5a5a;
}

.icon {
  vertical-align: text-bottom;
  padding-right: 0.75em;
  height: 1.2em;
  -webkit-filter: grayscale(0.8) brightness(2);
  filter: grayscale(0.85) brightness(2.5);
}

address {
  color: rgb(100, 100, 100);
  font-size: 0.8em;
  font-style: normal;
}

.header-text {
  color: #4c4b4b;
}

.readme-text {
  padding-bottom: 32px;
  margin-bottom: 32px;
  color: #4c4b4b;
  font-size: 0.9em;
  border-bottom: 1px solid #3333331c;
}

#filter-keyword {
  padding: 0.5rem 0.85rem;
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dddddd;
  display: block;
  width: 12rem;
  max-width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#filter-keyword:focus {
  color: #495057;
  background-color: #fff;
  border-color: #afbfe1;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(141, 169, 216, 0.25);
}

/*Waves*/
.waves {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 50px;
  }
}

/* 30/11/2023 */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

footer {
  position: relative;
  margin-top: 2rem;
}
.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
  padding: 15px 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

/* Waves */
.waves-container {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.waves-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1),
.parallax > use:nth-child(5) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2),
.parallax > use:nth-child(6) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3),
.parallax > use:nth-child(7) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4),
.parallax > use:nth-child(8) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Shrinking for mobile */
@media (max-width: 576px) {
  .footer {
    bottom: 10px;
    right: 10px;
    left: 10px;
    padding: 10px 15px;
    border-radius: 8px;
  }
}
