@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom.css */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Protest+Guerrilla&display=swap");

body {
  font-family: "Lexend", sans-serif !important;
}
.logo {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
  }
}

.adsbygoogle {
  text-align: center;
}
.ads {
  background-color: #ffffff;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
}
